<div class="container-fluid py-4" id="content">
		<% let table = '' %>
		<% if (search_data) {
				let data = search_data.data;
			table = `
			<table class="table table-dark text-start text-light"}'>
				<thead>
					<tr>
						<td class="name" ><a href="javascript:review_sort('name')" >File Name  </a></td>
						<td class="type" ><a href="javascript:review_sort('type')" >File Type  </a></td>
						<td class="size" ><a href="javascript:review_sort('size')" >File Size  </a></td>
						<td class="mini" ><a href="javascript:review_sort('mini')" >Minified?  </a></td>
						<td class="comp" ><a href="javascript:review_sort('cmpr')" >Compressed?</a></td>
						<td class="error"><a href="javascript:review_sort('error')">Error?     </a></td>
						<td class="time" ><a href="javascript:review_sort('time')" >Timestamp  </a></td>
					</tr>
				</thead>
				<tbody class="data-table">`
                    row = row[Object.entries(row)[0]]
				for (const row of data) {
					table += `
					<tr class="data-row" rating=${row.rating}>
						<td class="name" >${row.filename}</td>
						<td class="type" >${row.type}</td>
						<td class="size" >${row.size}</td>
						<td class="mini" >${row.minified}</td>
						<td class="comp" >${row.compressed}</td>
						<td class="error">${row.HTTPError}</td>
						<td class="time" >${row.timestamp.toLocaleString('en-US')}</td>
					</tr>`;
				}
				table += `
				</tbody>
			</table>`;
		} %>
		<%-table %>
	</div>
</body>
<footer>
	<%- include('../partials/footer') %>
</footer>
</html>