<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid py-4" id="content">
		<div class="container">
			<div class="row" id="name-header">
				<h1 class="col-auto pr-0" style="color: turquoise;">T9 Hacks Competition</h1>
				<h3 class="col-auto pb-1" style="color: greenyellow;">Climate Change Track</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 order-lg-2 mx-auto">
					<a href="http://t9hacks.org/">
						<img class="rounded-circle mt-4 mb-4 mx-auto d-block" id="bio-photo" src="/resources/img/photo.png" width="100%" height="auto" alt="Profile Photo" onerror=this.src="img/image_not_found.jpeg"/>
					</a>
					<div class="card border-secondary bg-dark text-light text-start p-3 mb-4">
						<h3 class="card-title">Bio</h3>
						<p class="card-text">
							We are broke college students. We want to reduce your carbon footprint! For profit devs hate this simple trick, go to the next tab to learn more!
						</p>
					</div>
				</div>
				<div class="col-lg-9 pl-0 text-start">
					<h3 class="card-title text-light mt-3">What we're about</h3>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-3 col-lg-push-9">
								<img class="card-img-top mw-100" src="https://captainplanetfoundation.org/wp-content/uploads/CaptainPlanet.png" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-9 col-lg-pull-3 p-3">
								<h5 class="card-title">Environment</h5>
								<p class ="card-text">
									Save the planet!
								</p>
							</div>
						</div>
					</div>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-3 col-lg-push-9">
								<img class="card-img-top mw-100" src="https://innovationinpolitics.eu/wp-content/uploads/2020/07/Community-Gardens-4.jpg" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-9 col-lg-pull-3 p-3">
								<h5 class="card-title">Community Driven Ecosystems</h5>
								<p class ="card-text">
									Stay local!
								</p>
							</div>
						</div>
					</div>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-3 col-lg-push-9">
								<img class="card-img-top mw-100" src="https://s30776.pcdn.co/wp-content/uploads/2018/06/AdobeStock_80792799-1.png" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-9 col-lg-pull-3 p-3">
								<h5 class="card-title">Diversity</h5>
								<p class ="card-text">
									New ideas are key!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<%- include('../partials/footer') %>
</footer>
</html>